.grid-partenaires, .grid-partenaires-g, .grid-partenaires-p, .grid-partenaires-autres {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.grid-partenaires, .grid-partenaires-autres {
    grid-template-rows: 1fr;
}

.grid-partenaires-g {
    grid-template-rows: repeat(3 1fr);
}

.grid-partenaires-p {
    grid-template-rows: repeat(4 1fr);
}

.grid-partenaires {
    text-align: center;
    align-items: self-end;    
}

.grid-partenaires img, .grid-partenaires-g img, .grid-partenaires-p img, .grid-partenaires-autres img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.partenaires:hover {
    opacity: 0.5;
}

.lien-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-photo:hover .photo-hover {
  display: flex;
}