.conteneur-pieces {
    max-width:1200px;
    margin:auto;
    padding:10px;
}

.bloc {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    align-items:center;
    margin:10px;
    background-color: antiquewhite;
    text-align: justify;
    border-radius:15px;
}

.bloc p {
    padding:0 15px;
}

.image img {
    width:100%;
    height:auto;
    display:block;
    border-radius:15px;
    transition: transform 0.4s ease;
}

/* effet zoom */
.image:hover img{
    transform:scale(1.15);
}

/* alternance automatique */
.bloc:nth-child(even) .image {
    order:-1;
}

/* responsive */
@media (max-width:768px){

    .bloc {
        grid-template-columns:1fr;
    }

    .bloc:nth-child(even) .image {
        order:0;
    }

}