fieldset {
    border-radius: 15px;
    border: solid 2px black;
    background-color: antiquewhite;
    margin: auto;
    width: 80%;
}

legend {
    width: 150px;
    font-weight: bold;
}

.coordonnees input {   
    border-radius: 15px;
    align-items: end;
    margin: 0px 0px 5px 50px;
    text-align: center;
}

.coordonnees input:focus {
    background-color: lightsalmon;
}

input[type="radio"]:checked {
    accent-color: darkmagenta;
}

.button input {
    display: flex;
    border-radius: 15px;
    margin-top: 15px;
    justify-self: center;
    background-color: antiquewhite;
    font-weight: bold;
}